.login {
  align-items: center;
  background-color: #027e50de;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.login .card {
  background-color: #353535;
  border-radius: 10px;
  box-shadow: -4px 9px 13px rgba(3, 107, 82, 0.3);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-block: 8vh;
  padding-inline: 7vw;
  width: 20vw;
  z-index: 2;
}

.login .logo {
  align-self: center;
  margin-bottom: 2rem;
  width: 80%;
}

@media only screen and ( max-width : 800px ) {

  .login .card {
    width: 50vw;
  }
}

@media only screen and ( max-width : 500px ) {

  .login .card {
    width: 70vw;
  }
}
