.form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-content .select {
  background: dimgrey;
  border-radius: 5px;
  color: #c1c1c1;
  height: 1.8rem;
}

.form-content .row {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
